@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Covid Web Application</h1>
    <p style="font-size:large; text-justify:auto; text-align:left;">
        This application has been created as the solution to the qualification task. It shows coronavirus statistcs.
        Thanks to this app you can see list of twenty countries which have the largest number of confirmed cases at this moment.
        You can also check the deatails about the pandemic situation in these countries.

        If you want to do it, let's go to Covid Top20 or just <a asp-controller="Covid" asp-action="Index">click here</a>.
    </p>
</div>
