@{
    ViewData["Title"] = "Result Page";
}

<div class="text-center">
    <h1 class="display-4">Result</h1>
    <table>
        <thead>
            <tr>
                <th>Country</th>
                <th>Total Confirmed</th> 
            </tr>
        </thead>
        <tbody>
            @{
                CountryModel countryModel = (CountryModel)ViewData["Message"];
                SingleCountryModel[] singleCountries = countryModel.Countries;

                for (int i = 0;i<singleCountries.Length;i++)
                {
                    <tr>
                        <td>@singleCountries[i].Country</td>
                        <td>@singleCountries[i].TotalConfirmed</td>
                    </tr>
                }
            }
        </tbody>
    </table>   
</div>
